.navbar{
    color: #ffffff;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

.bg-helpingHand{
    background-color: #26789E;
}

.img-navbar{
    border-radius: 5px;
    height: 40px;
}

.text-banner-color{
    color: #000000;
}

.start-15{
    left: 40px;
}

h4{
    color: #26789E;
}
